127.0.0.1       localhost
192.168.33.8 remotecontrol01.local  remotecontrol01
192.168.33.9 harbor.local  harbor
192.168.33.10 k8s-master01.local  k8s-master01
192.168.33.11 k8s-master02.local  k8s-master02
192.168.33.12 k8s-master03.local  k8s-master03
192.168.33.20 worker01.local  worker01
192.168.33.21 worker02.local  worker02


# The following lines are desirable for IPv6 capable hosts
::1     localhost ip6-localhost ip6-loopback
ff02::1 ip6-allnodes
ff02::2 ip6-allrouters
